.u-section-1 .u-sheet-1 {
  min-height: 895px;
}

.u-section-1 .u-image-1 {
  width: 804px;
  height: 234px;
  margin: 50px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 91px;
  box-shadow: 6px 8px 0px 0 rgba(185,209,94,1);
  background-image: none;
  text-shadow: 6px 8px 0 rgba(0,0,0,0);
  width: 452px;
  margin: 80px auto 0 612px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 7px 15px 0 0;
}

.u-section-1 .u-image-2 {
  width: 70px;
  height: 70px;
  background-image: url("../../images/icon1.png");
  background-position: 50% 50%;
  margin: 50px auto 0 646px;
}

.u-section-1 .u-image-3 {
  width: 70px;
  height: 70px;
  margin: 10px auto 0 646px;
}

.u-section-1 .u-group-2 {
  min-height: 45px;
  box-shadow: 5px 5px 0px 0 rgba(185,209,94,1);
  background-image: none;
  width: 251px;
  margin: -138px auto 0 778px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 5px 0 0;
}

.u-section-1 .u-group-3 {
  min-height: 45px;
  box-shadow: 5px 5px 0px 0 rgba(185,209,94,1);
  background-image: none;
  width: 251px;
  margin: 35px auto 0 780px;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 5px 15px 0 0;
}

.u-section-1 .u-image-4 {
  width: 230px;
  height: 251px;
  margin: -232px auto 0 312px;
}

.u-section-1 .u-image-5 {
  width: 70px;
  height: 70px;
  margin: 5px auto 0 646px;
}

.u-section-1 .u-group-4 {
  min-height: 45px;
  box-shadow: 5px 5px 0px 0 rgba(185,209,94,1);
  background-image: none;
  width: 251px;
  margin: -58px auto 0 780px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0 15px 0 0;
}

.u-section-1 .u-image-6 {
  width: 130px;
  height: 71px;
  margin: -47px auto 0 467px;
}

.u-section-1 .u-image-7 {
  width: 130px;
  height: 71px;
  margin: -70px auto 0 256px;
}

.u-section-1 .u-image-8 {
  width: 52px;
  height: 46px;
  margin: -58px auto 0 401px;
}

.u-section-1 .u-image-9 {
  width: 70px;
  height: 70px;
  margin: 13px auto 0 646px;
}

.u-section-1 .u-group-5 {
  min-height: 45px;
  box-shadow: 5px 5px 0px 0 rgba(185,209,94,1);
  background-image: none;
  width: 251px;
  margin: -58px auto 60px 780px;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 5px 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 70px;
    margin-left: 522px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 556px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 556px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 688px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 690px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -231px;
    margin-left: 222px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 4px;
    margin-left: 556px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 690px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -46px;
    margin-left: 377px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 166px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 311px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 12px;
    margin-left: 556px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 690px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 855px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 60px;
    margin-left: 420px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 459px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 459px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 539px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-3 {
    margin-left: 539px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-4 {
    margin-top: -235px;
    margin-left: 125px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 8px;
    margin-left: 459px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 539px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: -50px;
    margin-left: 280px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 69px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 214px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 16px;
    margin-left: 459px;
  }

  .u-section-1 .u-group-5 {
    margin-left: 539px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 846px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 209px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 40px;
    margin-left: auto;
  }

  .u-section-1 .u-image-2 {
    margin-top: 40px;
    margin-left: 372px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 372px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -140px;
    margin-left: 457px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 457px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -94px;
    margin-left: 68px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -131px;
    margin-left: 372px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -60px;
    margin-left: 457px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 91px;
    margin-left: 223px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 12px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 157px;
  }

  .u-section-1 .u-image-9 {
    margin-top: -123px;
    margin-left: 372px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -60px;
    margin-left: 457px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 157px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 319px;
    margin-left: 102px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 102px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -139px;
    margin-left: 187px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 187px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -460px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 234px;
    margin-left: 102px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -59px;
    margin-left: 187px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -302px;
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-left: 114px;
  }

  .u-section-1 .u-image-8 {
    margin-left: auto;
  }

  .u-section-1 .u-image-9 {
    margin-top: 269px;
    margin-left: 102px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -59px;
    margin-bottom: 45px;
    margin-left: 187px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1054px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 99px;
  }

  .u-section-1 .u-group-1 {
    min-height: 50px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    margin-top: 9px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 321px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 5px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -138px;
    margin-left: 85px;
  }

  .u-section-1 .u-group-3 {
    margin-left: 85px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -458px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 231px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-4 {
    margin-top: -58px;
    margin-left: 85px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -288px;
    margin-left: 196px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 14px;
  }

  .u-section-1 .u-image-9 {
    margin-top: 254px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-5 {
    margin-top: -58px;
    margin-left: 85px;
  }
}