.u-section-1 .u-sheet-1 {
  min-height: 720px;
}

.u-section-1 .u-image-1 {
  width: 804px;
  height: 234px;
  margin: 50px auto 0 0;
}

.u-section-1 .u-group-1 {
  width: 535px;
  min-height: 104px;
  box-shadow: 6px 8px 0px 0 rgba(185,209,94,1);
  background-image: none;
  text-shadow: 6px 8px 0 rgba(0,0,0,0);
  margin: 80px auto 0 571px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 231px;
  height: 251px;
  margin: -47px auto 50px 270px;
}

@media (max-width: 1399px) {
  .u-section-1 .u-group-1 {
    margin-left: 481px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 180px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: 379px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 695px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 209px;
  }

  .u-section-1 .u-group-1 {
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 20px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 157px;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 10px 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: -15px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 3px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 99px;
  }

  .u-section-1 .u-group-1 {
    min-height: 93px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 8px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 11px;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-top: 12px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 520px;
}

.u-section-2 .u-tabs-1 {
  min-height: 437px;
  margin-top: 25px;
  margin-bottom: 58px;
}

.u-section-2 .u-tab-link-1 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 0;
}

.u-section-2 .u-tab-link-2 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 0;
}

.u-section-2 .u-tab-link-3 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 0;
}

.u-section-2 .u-tab-link-4 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 0;
}

.u-section-2 .u-tab-link-5 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 0;
}

.u-section-2 .u-tab-link-6 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 0;
}

.u-section-2 .u-tab-link-7 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 0;
}

.u-section-2 .u-tab-link-8 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 0;
}

.u-section-2 .u-tab-link-9 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 0;
}

.u-section-2 .u-tab-link-10 {
  font-size: 1.125rem;
  background-image: none;
  font-weight: 600;
  letter-spacing: 0px;
  padding: 10px 0;
}

.u-section-2 .u-tab-pane-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 5px 17px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 60px;
  width: 1310px;
  margin: 0;
}

.u-section-2 .u-text-1 {
  margin: 15px 0 0;
}

.u-section-2 .u-tab-pane-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 5px 17px;
}

.u-section-2 .u-custom-html-2 {
  min-height: 60px;
  width: 1310px;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 0 -5px;
}

.u-section-2 .u-tab-pane-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 5px 17px;
}

.u-section-2 .u-custom-html-3 {
  min-height: 270px;
  width: 1310px;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 0 -5px;
}

.u-section-2 .u-tab-pane-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 5px 17px;
}

.u-section-2 .u-custom-html-4 {
  min-height: 60px;
  width: 1310px;
  margin: 0;
}

.u-section-2 .u-text-4 {
  margin: 0 -5px;
}

.u-section-2 .u-tab-pane-5 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 5px 17px;
}

.u-section-2 .u-custom-html-5 {
  min-height: 60px;
  width: 1310px;
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin: 0 -5px;
}

.u-section-2 .u-tab-pane-6 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 5px 17px;
}

.u-section-2 .u-custom-html-6 {
  min-height: 60px;
  width: 1310px;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: 0 -5px;
}

.u-section-2 .u-tab-pane-7 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 5px 17px;
}

.u-section-2 .u-custom-html-7 {
  min-height: 60px;
  width: 1310px;
  margin: 0;
}

.u-section-2 .u-text-7 {
  margin: 0 -5px;
}

.u-section-2 .u-tab-pane-8 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-8 {
  padding: 30px 5px 17px;
}

.u-section-2 .u-custom-html-8 {
  min-height: 60px;
  width: 1310px;
  margin: 0;
}

.u-section-2 .u-text-8 {
  margin: 0 -5px;
}

.u-section-2 .u-tab-pane-9 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 5px 17px;
}

.u-section-2 .u-custom-html-9 {
  min-height: 270px;
  width: 1310px;
  margin: 0;
}

.u-section-2 .u-text-9 {
  margin: 0 -5px;
}

.u-section-2 .u-tab-pane-10 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-10 {
  padding: 30px 0 17px;
}

.u-section-2 .u-custom-html-10 {
  min-height: 60px;
  width: 1310px;
  margin: 0 5px;
}

.u-section-2 .u-text-10 {
  margin: 0;
}

@media (max-width: 1399px) {
  .u-section-2 .u-tabs-1 {
    height: auto;
  }

  .u-section-2 .u-custom-html-1 {
    height: auto;
    width: 1130px;
  }

  .u-section-2 .u-custom-html-2 {
    height: auto;
    width: 1130px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-3 {
    height: auto;
    width: 1130px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-4 {
    height: auto;
    width: 1130px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-5 {
    height: auto;
    width: 1130px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-6 {
    height: auto;
    width: 1130px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-7 {
    height: auto;
    width: 1130px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-8 {
    height: auto;
    width: 1130px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-9 {
    height: auto;
    width: 1130px;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-10 {
    height: auto;
    width: 1140px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    width: 930px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 930px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 930px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 930px;
  }

  .u-section-2 .u-custom-html-5 {
    width: 930px;
  }

  .u-section-2 .u-custom-html-6 {
    width: 930px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 930px;
  }

  .u-section-2 .u-custom-html-8 {
    width: 930px;
  }

  .u-section-2 .u-custom-html-9 {
    width: 930px;
  }

  .u-section-2 .u-custom-html-10 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    width: 710px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 710px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 710px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 710px;
  }

  .u-section-2 .u-custom-html-5 {
    width: 710px;
  }

  .u-section-2 .u-custom-html-6 {
    width: 710px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 710px;
  }

  .u-section-2 .u-custom-html-8 {
    width: 710px;
  }

  .u-section-2 .u-custom-html-9 {
    width: 710px;
  }

  .u-section-2 .u-custom-html-10 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-custom-html-1 {
    width: 530px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 530px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 530px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 530px;
  }

  .u-section-2 .u-custom-html-5 {
    width: 530px;
  }

  .u-section-2 .u-custom-html-6 {
    width: 530px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 530px;
  }

  .u-section-2 .u-custom-html-8 {
    width: 530px;
  }

  .u-section-2 .u-custom-html-9 {
    width: 530px;
  }

  .u-section-2 .u-custom-html-10 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-custom-html-1 {
    width: 330px;
  }

  .u-section-2 .u-custom-html-2 {
    width: 330px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 330px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 330px;
  }

  .u-section-2 .u-custom-html-5 {
    width: 330px;
  }

  .u-section-2 .u-custom-html-6 {
    width: 330px;
  }

  .u-section-2 .u-custom-html-7 {
    width: 330px;
  }

  .u-section-2 .u-custom-html-8 {
    width: 330px;
  }

  .u-section-2 .u-custom-html-9 {
    width: 330px;
  }

  .u-section-2 .u-custom-html-10 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 73px;
}

.u-section-3 .u-image-1 {
  width: 52px;
  height: 46px;
  margin: 1px auto 0;
}

.u-section-3 .u-image-2 {
  width: 130px;
  height: 71px;
  margin: -59px 504px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 130px;
  height: 71px;
  margin: -71px auto -12px 504px;
}

@media (max-width: 1399px) {
  .u-section-3 .u-image-2 {
    margin-right: 414px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 414px;
  }
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-2 {
    margin-right: 314px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 314px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 83px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 6px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 204px;
  }

  .u-section-3 .u-image-3 {
    margin-bottom: -7px;
    margin-left: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 80px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 5px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 114px;
  }

  .u-section-3 .u-image-3 {
    margin-bottom: -8px;
    margin-left: 114px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 83px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 6px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 14px;
  }

  .u-section-3 .u-image-3 {
    margin-bottom: -7px;
    margin-left: 14px;
  }
}