body {
    
    background-color: #f2f2f2;
    color: #333;
    font-size: 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6em;
    margin: 0;
    padding:1%;
}

h1{
    font-size:2em;
    line-height: 1.1em;
}

p{
    margin-bottom: 1.1em;
}

.container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.orientacion-a {
    padding:2rem 160px;
    margin: 1rem 1px;   
}
    .orientacion-b {
        padding: 2rem 160px;
        margin: 1rem 1px;
    }

.header {
    background: #f2f2f2;
    color: #333;
    padding 2rem 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
}

.header a{
    color: #333;
    text-decoration:none;
}

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;

}

.menu-icon{
    display:none;
}

.navigation ul{
    margin:0;
    padding:0;
    list-style:none;
}

    .navigation ul li{
        display: inline-block;
    }

        .navigation ul li a{
            display:block;
            padding:0.5rem 1rem;
            transition: all 0.4s linear;
        }
            
            .navigation ul li a:hover{
                color: #3485e9;
            }

.footer{
    background-color:#f2f2f2;
    padding: 9rem 0;
    text-align:center;
    font-size:0.6rem;

}

    .footer .Copy {
        background-color: #464646;
        font-size: 2em;
        padding: 5px 10px;
        text-align: center;
        color: #fff;
        margin: 30px auto;
    }
        .footer .Copy small {
            font-size: 0.8em;
        }

.main{
    padding-top: 120px;
}


@media only screen and (max-width: 690px){

.menu-icon {
        display: block;
        cursor:pointer;
        padding: 0.5rem 1rem;
}

.navigation{
    width:100%;
    margin:1rem;
}

.navigation ul{

    display:none;
}

    .navigation ul.show {
        display: block;
    }

        .navigation ul li {
            display: block;
        }

            .navigation ul li a {
                display: block;
                padding: 0.5rem ;
                transition: all 0.4s linear;
            }

                .navigation ul li a:hover {
                    color: #3485e9;
                }

}
    