.u-section-1 .u-sheet-1 {
  min-height: 823px;
}

.u-section-1 .u-image-1 {
  width: 804px;
  height: 234px;
  margin: 50px auto 0 0;
}

.u-section-1 .u-group-1 {
  min-height: 91px;
  box-shadow: 6px 8px 0px 0 rgba(255,159,0,1);
  background-image: none;
  text-shadow: 6px 8px 0 rgba(0,0,0,0);
  width: 452px;
  margin: 80px auto 0 612px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 7px 15px 0 0;
}

.u-section-1 .u-image-2 {
  width: 230px;
  height: 251px;
  margin: -47px auto 0 312px;
}

.u-section-1 .u-image-3 {
  width: 70px;
  height: 70px;
  background-image: url("images/bienes-naranja.png");
  background-position: 50% 50%;
  margin: -154px auto 0 647px;
}

.u-section-1 .u-group-2 {
  min-height: 45px;
  box-shadow: 5px 5px 0px 0 rgba(255,159,0,1);
  background-image: none;
  width: 251px;
  margin: -57px auto 0 728px;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 5px 15px 0 0;
}

.u-section-1 .u-image-4 {
  width: 70px;
  height: 70px;
  margin: 28px 603px 0 auto;
}

.u-section-1 .u-group-3 {
  min-height: 45px;
  box-shadow: 5px 5px 0px 0 rgba(255,159,0,1);
  background-image: none;
  width: 251px;
  margin: -57px 341px 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 5px 15px 0 0;
}

.u-section-1 .u-image-5 {
  width: 70px;
  height: 70px;
  margin: 26px auto 0 647px;
}

.u-section-1 .u-image-6 {
  width: 130px;
  height: 71px;
  margin: -69px auto 0 467px;
}

.u-section-1 .u-image-7 {
  width: 130px;
  height: 71px;
  margin: -70px auto 0 256px;
}

.u-section-1 .u-image-8 {
  width: 52px;
  height: 46px;
  margin: -58px auto 0 401px;
}

.u-section-1 .u-group-4 {
  min-height: 45px;
  box-shadow: 5px 5px 0px 0 rgba(255,159,0,1);
  background-image: none;
  width: 251px;
  margin: -46px auto 60px 727px;
}

.u-section-1 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 5px 15px 0 0;
}

@media (max-width: 1399px) {
  .u-section-1 .u-image-4 {
    margin-top: 29px;
    margin-right: 423px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -58px;
    margin-right: 162px;
  }
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: 488px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    margin-left: 689px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-group-4 {
    margin-left: 689px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 798px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 209px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 268px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 469px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 469px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 157px;
  }

  .u-section-1 .u-group-1 {
    margin-left: 88px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 310px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 470px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 289px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 470px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 410px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 289px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 99px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-left: 110px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 270px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 89px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 270px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 89px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 270px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 210px;
  }

  .u-section-1 .u-image-7 {
    margin-left: 210px;
  }

  .u-section-1 .u-image-8 {
    margin-left: 288px;
  }

  .u-section-1 .u-group-4 {
    margin-left: 89px;
  }
}